

.container {
	background-color: #E1E4E4;
	color: #333;
}
.hero {
	width: 100%;
	height: 30rem;
	background-color: #ce5333;
	background-image: url(../bg.jpg);
	background-position: center; 
}
.gridbox {
	width: 96rem;
	height: 100%;
	margin: 0 auto;
	background-color: white;
	opacity:0.1;
}